<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
        html,
        body {
            margin: 0;
            width: 100%;
            height: 100%;
            font-family: 'oswald', sans-serif;
        }

        .splash-container {
            position: relative;
            width: 100%;
            height: 100%;
            background: #FF7043;
        }

            .splash-container .title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }

                .splash-container .title img {
                    width: 200px;
                    height: 200px;
                    border: solid 3px white;
                    border-radius: 0% 30% 20% 50%;
                    box-shadow: 5px 10px #888888;
                }
                .splash-container .title h1 {
                    margin: 0px;
                }
        .splash-container .title h4 {
            margin: 0px;
            color: antiquewhite;
            text-align: center;
            text-transform: uppercase;
        }
            .splash-container .links {
                position: absolute;
                top: 0%;
                left: 0%;
                background-color: rgba(0, 0, 0, 0.15);
                padding: 15px;
                border-radius: 0 0 0 4px;
            }
            .slpash-container .links ul {
                display: block;
                padding: 0;
                margin: 0;
            }
            .splash-container .links ul li {
                display: inline;
                font-size: 22px;
                padding: 0px 5px;
            }
            .splash-container .link ul li a {
                text-decoration: none;
                color: white;
            }
    </style>
</head>
<body>
    <div class="splash-container">
        <div class="title">
            <img src="~/pictures/myAvatar.png" />
            <h1>Sebastian Briceno</h1>
            <h4>whats going on</h4>
        </div>
        <div class="links">
            <ul>
                <li>
                <a href="www.facebook.com"></a>
                <i class="fab fa-facebook-square"></i>
                </li>
            
                <li><i class="fab fa-twitter-square"></i></li>
                <li><i class="fab fa-slack"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
            
            
            
             
        </div>
    </div>
</body>
</html>
